@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: uppercase;
}

body {
  font-family: "Barlow Condensed", sans-serif;
  overflow-x: hidden !important; /*esconde a barra de rolagem horixontal*/
}

.hero-section {
  padding-top: 40px;
  background-color: #0b0d17;
  background-image: url(../img/home/background-home-desktop.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  align-items: center;
  box-sizing: border-box;
}
.hero-section .container {
  max-width: 100%;
  padding-left: 55px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
.hero-section .container .logo {
  display: flex;
  align-items: center;
}
.hero-section .container .menu {
  background-color: rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(81px);
          backdrop-filter: blur(81px);
  max-width: 100%;
  width: 830px;
  height: 96px;
  display: flex;
  justify-content: center;
  -moz-column-gap: 48px;
       column-gap: 48px;
  align-items: center;
  padding-right: 30px;
  box-sizing: border-box;
}
.hero-section .container .menu .bar {
  position: fixed;
  top: 46px;
  right: 795px;
  width: 473px;
  height: 1px;
  background-color: #484B53;
  z-index: 101;
  box-sizing: border-box;
}
.hero-section .container .menu a {
  color: #FFFFFF;
  font-size: 16px;
  padding-top: 36px;
  padding-bottom: 36px;
  border-bottom: 3px solid transparent;
  letter-spacing: 2.7px;
}
.hero-section .container .menu a span {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
  padding-top: 36px;
  padding-bottom: 36px;
  letter-spacing: 2.7px;
}
.hero-section .container .menu a:hover {
  border-bottom: 3px solid #979797;
}
.hero-section .container .menu .active {
  border-color: #FFFFFF;
}
@media (max-width: 1390px) {
  .hero-section .container .menu {
    width: 763px;
  }
  .hero-section .container .menu .bar {
    width: 400px;
    right: 722px;
  }
}
@media (max-width: 1270px) {
  .hero-section .container {
    padding-left: 39px !important;
  }
  .hero-section .container .logo {
    padding-top: 0;
    margin-left: -14px;
  }
  .hero-section .container .menu {
    width: 450px;
    height: 96px;
    -moz-column-gap: 36px;
         column-gap: 36px;
    padding: 0;
  }
  .hero-section .container .menu a {
    font-size: 14px;
    letter-spacing: 2.36px;
  }
  .hero-section .container .menu a span {
    display: none;
  }
  .hero-section .container .menu .bar {
    display: none;
  }
}
@media (max-width: 640px) {
  .hero-section .container {
    /*bar que for o primeiro filho*/
  }
  .hero-section .container .logo {
    padding-top: 24px;
    margin-left: -14px;
  }
  .hero-section .container .logo img {
    width: 40px;
  }
  .hero-section .container .menu {
    /*opacity: 0;
    pointer-events: none;*/
    transform: translateX(100%);
    background-color: rgba(255, 255, 255, 0.04);
    -webkit-backdrop-filter: blur(81px);
            backdrop-filter: blur(81px);
    position: fixed;
    top: 0;
    right: 0;
    width: 254px;
    height: 100vh;
    transition: 0.3s ease-in-out;
    row-gap: 32px;
    flex-direction: column;
    justify-content: normal;
    padding-top: 118px;
    align-items: normal;
    padding-left: 32px;
    z-index: 100;
    box-sizing: border-box;
  }
  .hero-section .container .menu a {
    font-size: 16px;
    letter-spacing: 2.7px;
    display: block !important;
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box;
    border-bottom: none;
  }
  .hero-section .container .menu a span {
    font-size: 16px;
    margin-right: 10px;
    letter-spacing: 2.7px;
    display: inline-block;
    box-sizing: border-box;
    padding: 0;
  }
  .hero-section .container .menu a:hover {
    border-bottom: none;
  }
  .hero-section .container .menu .active {
    border-color: none;
  }
  .hero-section .container .btn-menu {
    padding-top: 34px;
    padding-right: 26px;
  }
  .hero-section .container .btn-menu .bar-menu {
    width: 24px;
    height: 3px;
    background-color: #D0D6f9;
    margin-bottom: 6px;
    /* ou*/
    /*
    .btn-menu
    display: flex;
    flex-direction: colum;
    row-gap: 3px;*/
    transition: 0.3s;
  }
  .hero-section .container .menu-open {
    /*display: block;*/
    /*opacity: 1;
        pointer-events: all;*/
    transform: translateX(0);
  }
  .hero-section .container .x {
    z-index: 10000;
    /* bar que for o filho de número 2*/
    /*bar que for o último filho*/
  }
  .hero-section .container .x .bar-menu:first-child {
    transform: rotate(45deg) translate(7px, 4px);
  }
  .hero-section .container .x .bar-menu:nth-child(2) {
    opacity: 0;
    transform: translateX(-100px);
  }
  .hero-section .container .x .bar-menu:last-child {
    transform: rotate(-45deg) translate(8px, -6px);
  }
}
.hero-section .container-home {
  width: 100%;
  max-width: 1158px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 24px;
}
.hero-section .container-home .content {
  max-width: 469px;
  margin-top: 201px;
}
.hero-section .container-home .content h1 {
  color: #D0D6F9;
  font-size: 28px;
  letter-spacing: 4.72px;
  font-weight: 400;
  font-style: normal;
}
.hero-section .container-home .content h2 {
  color: #FFFFFF;
  font-size: 150px;
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
  padding-top: 24px;
  padding-bottom: 24px;
}
.hero-section .container-home .content p {
  color: #D0D6F9;
  font-size: 18px;
  font-style: normal;
  text-transform: none;
  line-height: 32px;
  font-family: "Barlow", sans-serif !important;
}
.hero-section .container-home .explore {
  margin-bottom: 100px !important;
}
.hero-section .container-home .explore button {
  margin-top: 305px;
  background-color: #FFFFFF;
  color: #0b0d17;
  width: 274px;
  height: 274px;
  border-radius: 50%;
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  letter-spacing: 2px;
  display: inline-block;
  cursor: pointer;
  border: none;
}
.hero-section .container-home .explore button:active {
  box-shadow: 0 0 2px 80px rgba(36, 38, 47, 0.7);
}
@media (max-width: 1270px) {
  .hero-section {
    background-image: url(../img/home/background-home-tablet.jpg);
    padding-top: 0;
  }
  .hero-section .container-home {
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
  }
  .hero-section .container-home .content {
    text-align: center;
    margin-top: 106px;
  }
  .hero-section .container-home .content h1 {
    font-size: 20px;
    letter-spacing: 3.38px;
  }
  .hero-section .container-home .content h2 {
    line-height: 150px;
  }
  .hero-section .container-home .content p {
    font-size: 16px;
    line-height: 28px;
  }
  .hero-section .container-home .explore button {
    margin-top: 150px;
    margin-bottom: 100px;
    width: 242px;
    height: 242px;
  }
  .hero-section .container-home .explore button:active {
    box-shadow: 0 0 2px 48px rgba(36, 38, 47, 0.7);
  }
}
@media (max-width: 640px) {
  .hero-section {
    background-image: url(../img/home/background-home-mobile.jpg) !important;
    padding-top: 0;
  }
  .hero-section .container-home .content {
    text-align: center;
    margin-top: 58px !important;
  }
  .hero-section .container-home .content h1 {
    font-size: 16px !important;
    letter-spacing: 2.7px !important;
  }
  .hero-section .container-home .content h2 {
    font-size: 80px !important;
    line-height: 100px !important;
  }
  .hero-section .container-home .content p {
    font-size: 15px !important;
    line-height: 25px !important;
  }
  .hero-section .container-home .explore button {
    margin-top: 75px;
    margin-bottom: 60px;
    width: 150px !important;
    height: 150px !important;
    font-size: 20px !important;
    letter-spacing: 1.25px !important;
  }
  .hero-section .container-home .explore button:active {
    box-shadow: 0 0 2px 48px rgba(36, 38, 47, 0.7);
  }
}

.show {
  display: block !important;
}

.hero-section-destination {
  padding-top: 40px;
  background-color: #0b0d17;
  background-image: url(../img/destination/background-destination-desktop.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  align-items: center;
  box-sizing: border-box;
}
.hero-section-destination .container {
  max-width: 100%;
  padding-left: 55px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
.hero-section-destination .container .logo {
  display: flex;
  align-items: center;
}
.hero-section-destination .container .menu {
  background-color: rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(81px);
          backdrop-filter: blur(81px);
  max-width: 100%;
  width: 830px;
  height: 96px;
  display: flex;
  justify-content: center;
  -moz-column-gap: 48px;
       column-gap: 48px;
  align-items: center;
  padding-right: 30px;
  box-sizing: border-box;
}
.hero-section-destination .container .menu .bar {
  position: fixed;
  top: 46px;
  right: 795px;
  width: 473px;
  height: 1px;
  background-color: #484B53;
  z-index: 101;
  box-sizing: border-box;
}
.hero-section-destination .container .menu a {
  color: #FFFFFF;
  font-size: 16px;
  padding-top: 36px;
  padding-bottom: 36px;
  border-bottom: 3px solid transparent;
  letter-spacing: 2.7px;
}
.hero-section-destination .container .menu a span {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
  padding-top: 36px;
  padding-bottom: 36px;
  letter-spacing: 2.7px;
}
.hero-section-destination .container .menu a:hover {
  border-bottom: 3px solid #979797;
}
.hero-section-destination .container .menu .active {
  border-color: #FFFFFF;
}
@media (max-width: 1390px) {
  .hero-section-destination .container .menu {
    width: 763px;
  }
  .hero-section-destination .container .menu .bar {
    width: 400px;
    right: 722px;
  }
}
@media (max-width: 1270px) {
  .hero-section-destination .container {
    padding-left: 39px !important;
  }
  .hero-section-destination .container .logo {
    padding-top: 0;
    margin-left: -14px;
  }
  .hero-section-destination .container .menu {
    width: 450px;
    height: 96px;
    -moz-column-gap: 36px;
         column-gap: 36px;
    padding: 0;
  }
  .hero-section-destination .container .menu a {
    font-size: 14px;
    letter-spacing: 2.36px;
  }
  .hero-section-destination .container .menu a span {
    display: none;
  }
  .hero-section-destination .container .menu .bar {
    display: none;
  }
}
@media (max-width: 640px) {
  .hero-section-destination .container {
    /*bar que for o primeiro filho*/
  }
  .hero-section-destination .container .logo {
    padding-top: 24px;
    margin-left: -14px;
  }
  .hero-section-destination .container .logo img {
    width: 40px;
  }
  .hero-section-destination .container .menu {
    /*opacity: 0;
    pointer-events: none;*/
    transform: translateX(100%);
    background-color: rgba(255, 255, 255, 0.04);
    -webkit-backdrop-filter: blur(81px);
            backdrop-filter: blur(81px);
    position: fixed;
    top: 0;
    right: 0;
    width: 254px;
    height: 100vh;
    transition: 0.3s ease-in-out;
    row-gap: 32px;
    flex-direction: column;
    justify-content: normal;
    padding-top: 118px;
    align-items: normal;
    padding-left: 32px;
    z-index: 100;
    box-sizing: border-box;
  }
  .hero-section-destination .container .menu a {
    font-size: 16px;
    letter-spacing: 2.7px;
    display: block !important;
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box;
    border-bottom: none;
  }
  .hero-section-destination .container .menu a span {
    font-size: 16px;
    margin-right: 10px;
    letter-spacing: 2.7px;
    display: inline-block;
    box-sizing: border-box;
    padding: 0;
  }
  .hero-section-destination .container .menu a:hover {
    border-bottom: none;
  }
  .hero-section-destination .container .menu .active {
    border-color: none;
  }
  .hero-section-destination .container .btn-menu {
    padding-top: 34px;
    padding-right: 26px;
  }
  .hero-section-destination .container .btn-menu .bar-menu {
    width: 24px;
    height: 3px;
    background-color: #D0D6f9;
    margin-bottom: 6px;
    /* ou*/
    /*
    .btn-menu
    display: flex;
    flex-direction: colum;
    row-gap: 3px;*/
    transition: 0.3s;
  }
  .hero-section-destination .container .menu-open {
    /*display: block;*/
    /*opacity: 1;
        pointer-events: all;*/
    transform: translateX(0);
  }
  .hero-section-destination .container .x {
    z-index: 10000;
    /* bar que for o filho de número 2*/
    /*bar que for o último filho*/
  }
  .hero-section-destination .container .x .bar-menu:first-child {
    transform: rotate(45deg) translate(7px, 4px);
  }
  .hero-section-destination .container .x .bar-menu:nth-child(2) {
    opacity: 0;
    transform: translateX(-100px);
  }
  .hero-section-destination .container .x .bar-menu:last-child {
    transform: rotate(-45deg) translate(8px, -6px);
  }
}
.hero-section-destination .container-destination {
  width: 100%;
  max-width: 1158px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}
.hero-section-destination .container-destination .destination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 183px;
  margin-top: 76px;
}
.hero-section-destination .container-destination .destination .content h3 {
  color: #FFFFFF;
  font-size: 28px;
  letter-spacing: 4.72px;
  margin-bottom: 97px;
  font-weight: 400;
  font-style: normal;
}
.hero-section-destination .container-destination .destination .content h3 span {
  margin-right: 16px;
  color: #484B53;
  letter-spacing: 2.7px;
  font-weight: bold;
}
.hero-section-destination .container-destination .destination .menu-destination {
  display: flex;
  -moz-column-gap: 35px;
       column-gap: 35px;
  width: 285px;
  margin-top: 98px;
}
.hero-section-destination .container-destination .destination .menu-destination a {
  color: #D0D6F9;
  font-size: 16px;
  letter-spacing: 2.7px;
  border-bottom: 3px solid transparent;
  padding-top: 13px;
  padding-bottom: 13px;
  display: inline-block;
  cursor: pointer;
}
.hero-section-destination .container-destination .destination .menu-destination a:hover {
  border-bottom: 3px solid #979797;
}
.hero-section-destination .container-destination .destination .menu-destination .active-planet {
  border-color: #FFFFFF;
  color: #FFFFFF;
}
.hero-section-destination .content-planet {
  display: none;
}
.hero-section-destination .content-planet .info {
  display: flex;
  justify-content: space-between;
}
.hero-section-destination .content-planet .info .image {
  margin-left: 63px;
}
.hero-section-destination .content-planet .info .container-planet {
  width: 465px;
}
.hero-section-destination .content-planet .info .container-planet h2 {
  color: #FFFFFF;
  font-size: 100px;
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 37px;
  margin-bottom: 14px;
}
.hero-section-destination .content-planet .info .container-planet P {
  color: #D0D6F9;
  font-size: 18px;
  text-transform: none;
  line-height: 32px;
  margin-bottom: 54px;
  font-family: "Barlow", sans-serif;
}
.hero-section-destination .content-planet .info .container-planet .bar {
  width: 465px;
  height: 1px;
  background-color: #484B53;
}
.hero-section-destination .content-planet .info .container-planet .details {
  margin-top: 28px;
  display: flex;
  -moz-column-gap: 69px;
       column-gap: 69px;
  margin-bottom: 50px;
}
.hero-section-destination .content-planet .info .container-planet .details p {
  color: #D0D6F9;
  font-size: 15px;
  letter-spacing: 2.36px;
  font-family: "Barlow Condensed", sans-serif !important;
}
.hero-section-destination .content-planet .info .container-planet .details p span {
  color: #FFFFFF;
  font-size: 28px;
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
}
@media (max-width: 1270px) {
  .hero-section-destination {
    background-image: url(../img/destination/background-destination-tablet.jpg);
    padding-top: 0;
  }
  .hero-section-destination .container-destination .destination {
    flex-direction: column;
    margin: 0;
  }
  .hero-section-destination .container-destination .destination .content {
    margin-top: 40px;
    display: flex;
    align-self: start;
    padding-left: 15px;
  }
  .hero-section-destination .container-destination .destination .content h3 {
    font-size: 20px !important;
    letter-spacing: 3.38px !important;
    margin-bottom: 0;
  }
  .hero-section-destination .container-destination .destination .menu-destination {
    margin-top: 0;
    position: relative;
    top: 417px;
  }
  .hero-section-destination .info {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .hero-section-destination .info .image {
    margin-top: 10px;
    margin-left: 0 !important;
    margin-bottom: 119px;
  }
  .hero-section-destination .info .image img {
    width: 300px;
  }
  .hero-section-destination .info .container-planet {
    width: 599px !important;
  }
  .hero-section-destination .info .container-planet h2 {
    font-size: 80px !important;
  }
  .hero-section-destination .info .container-planet p {
    font-size: 16px !important;
    line-height: 28px !important;
  }
  .hero-section-destination .info .container-planet .bar {
    width: 599px !important;
  }
  .hero-section-destination .info .container-planet .details {
    margin-top: 28px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  .hero-section-destination .info .container-planet .details p {
    text-align: center;
    font-size: 14px !important;
    letter-spacing: 2.36px;
  }
  .hero-section-destination .info .container-planet .details p span {
    font-size: 28px;
    font-style: normal;
  }
}
@media (max-width: 640px) {
  .hero-section-destination {
    background-image: url(../img/destination/background-destination-mobile.jpg) !important;
    padding-top: 0;
  }
  .hero-section-destination .container-destination .destination .content {
    margin-top: 24px;
    padding-left: 0;
    align-self: center;
  }
  .hero-section-destination .container-destination .destination .content h3 {
    font-size: 16px !important;
    letter-spacing: 2.7px !important;
  }
  .hero-section-destination .container-destination .destination .menu-destination {
    margin-top: 0;
    position: relative;
    top: 225px;
    -moz-column-gap: 26px;
         column-gap: 26px;
    width: 237px;
    margin-top: 0px;
  }
  .hero-section-destination .container-destination .destination .menu-destination a {
    color: #D0D6F9;
    font-size: 14px;
    letter-spacing: 2.36px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .hero-section-destination .info .image {
    margin-top: 0;
    margin-left: 0 !important;
    margin-bottom: 35px;
  }
  .hero-section-destination .info .image img {
    width: 170px;
  }
  .hero-section-destination .info .container-planet {
    width: 327px !important;
  }
  .hero-section-destination .info .container-planet h2 {
    font-size: 54px !important;
  }
  .hero-section-destination .info .container-planet p {
    font-size: 15px !important;
    line-height: 25px !important;
    margin-bottom: 32px !important;
  }
  .hero-section-destination .info .container-planet .bar {
    width: 327px !important;
  }
  .hero-section-destination .info .container-planet .details {
    margin-top: 32px !important;
    flex-direction: column;
    row-gap: 12px;
    margin-bottom: 50px;
  }
  .hero-section-destination .info .container-planet .details p {
    text-align: center;
    font-size: 14px !important;
    letter-spacing: 2.36px;
    margin-bottom: 12px !important;
    text-transform: uppercase;
  }
  .hero-section-destination .info .container-planet .details p span {
    display: block;
    font-size: 28px;
    font-style: normal;
    margin-top: 12px;
  }
}

.show-crew {
  display: block !important;
}

.hero-section-crew {
  padding-top: 40px;
  background-color: #0b0d17;
  background-image: url(../img/crew/background-crew-desktop.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  align-items: center;
  box-sizing: border-box;
}
.hero-section-crew .container {
  max-width: 100%;
  padding-left: 55px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
.hero-section-crew .container .logo {
  display: flex;
  align-items: center;
}
.hero-section-crew .container .menu {
  background-color: rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(81px);
          backdrop-filter: blur(81px);
  max-width: 100%;
  width: 830px;
  height: 96px;
  display: flex;
  justify-content: center;
  -moz-column-gap: 48px;
       column-gap: 48px;
  align-items: center;
  padding-right: 30px;
  box-sizing: border-box;
}
.hero-section-crew .container .menu .bar {
  position: fixed;
  top: 46px;
  right: 795px;
  width: 473px;
  height: 1px;
  background-color: #484B53;
  z-index: 101;
  box-sizing: border-box;
}
.hero-section-crew .container .menu a {
  color: #FFFFFF;
  font-size: 16px;
  padding-top: 36px;
  padding-bottom: 36px;
  border-bottom: 3px solid transparent;
  letter-spacing: 2.7px;
}
.hero-section-crew .container .menu a span {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
  padding-top: 36px;
  padding-bottom: 36px;
  letter-spacing: 2.7px;
}
.hero-section-crew .container .menu a:hover {
  border-bottom: 3px solid #979797;
}
.hero-section-crew .container .menu .active {
  border-color: #FFFFFF;
}
@media (max-width: 1390px) {
  .hero-section-crew .container .menu {
    width: 763px;
  }
  .hero-section-crew .container .menu .bar {
    width: 400px;
    right: 722px;
  }
}
@media (max-width: 1270px) {
  .hero-section-crew .container {
    padding-left: 39px !important;
  }
  .hero-section-crew .container .logo {
    padding-top: 0;
    margin-left: -14px;
  }
  .hero-section-crew .container .menu {
    width: 450px;
    height: 96px;
    -moz-column-gap: 36px;
         column-gap: 36px;
    padding: 0;
  }
  .hero-section-crew .container .menu a {
    font-size: 14px;
    letter-spacing: 2.36px;
  }
  .hero-section-crew .container .menu a span {
    display: none;
  }
  .hero-section-crew .container .menu .bar {
    display: none;
  }
}
@media (max-width: 640px) {
  .hero-section-crew .container {
    /*bar que for o primeiro filho*/
  }
  .hero-section-crew .container .logo {
    padding-top: 24px;
    margin-left: -14px;
  }
  .hero-section-crew .container .logo img {
    width: 40px;
  }
  .hero-section-crew .container .menu {
    /*opacity: 0;
    pointer-events: none;*/
    transform: translateX(100%);
    background-color: rgba(255, 255, 255, 0.04);
    -webkit-backdrop-filter: blur(81px);
            backdrop-filter: blur(81px);
    position: fixed;
    top: 0;
    right: 0;
    width: 254px;
    height: 100vh;
    transition: 0.3s ease-in-out;
    row-gap: 32px;
    flex-direction: column;
    justify-content: normal;
    padding-top: 118px;
    align-items: normal;
    padding-left: 32px;
    z-index: 100;
    box-sizing: border-box;
  }
  .hero-section-crew .container .menu a {
    font-size: 16px;
    letter-spacing: 2.7px;
    display: block !important;
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box;
    border-bottom: none;
  }
  .hero-section-crew .container .menu a span {
    font-size: 16px;
    margin-right: 10px;
    letter-spacing: 2.7px;
    display: inline-block;
    box-sizing: border-box;
    padding: 0;
  }
  .hero-section-crew .container .menu a:hover {
    border-bottom: none;
  }
  .hero-section-crew .container .menu .active {
    border-color: none;
  }
  .hero-section-crew .container .btn-menu {
    padding-top: 34px;
    padding-right: 26px;
  }
  .hero-section-crew .container .btn-menu .bar-menu {
    width: 24px;
    height: 3px;
    background-color: #D0D6f9;
    margin-bottom: 6px;
    /* ou*/
    /*
    .btn-menu
    display: flex;
    flex-direction: colum;
    row-gap: 3px;*/
    transition: 0.3s;
  }
  .hero-section-crew .container .menu-open {
    /*display: block;*/
    /*opacity: 1;
        pointer-events: all;*/
    transform: translateX(0);
  }
  .hero-section-crew .container .x {
    z-index: 10000;
    /* bar que for o filho de número 2*/
    /*bar que for o último filho*/
  }
  .hero-section-crew .container .x .bar-menu:first-child {
    transform: rotate(45deg) translate(7px, 4px);
  }
  .hero-section-crew .container .x .bar-menu:nth-child(2) {
    opacity: 0;
    transform: translateX(-100px);
  }
  .hero-section-crew .container .x .bar-menu:last-child {
    transform: rotate(-45deg) translate(8px, -6px);
  }
}
.hero-section-crew .container-crew {
  width: 100%;
  max-width: 1158px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}
.hero-section-crew .container-crew .info h3 {
  color: #FFFFFF;
  font-size: 28px;
  font-weight: 400;
  font-style: normal;
  margin-top: 76px;
  margin-bottom: 154px;
  letter-spacing: 4.72px;
}
.hero-section-crew .container-crew .info h3 span {
  margin-right: 22px;
  color: #484B53;
  letter-spacing: 4.72px;
  font-weight: bold;
}
.hero-section-crew .container-crew .menu-crew {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.hero-section-crew .container-crew .menu-crew button {
  position: relative;
  top: 400px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #40424B;
  display: inline-block;
  cursor: pointer;
  border: none;
}
.hero-section-crew .container-crew .menu-crew button:hover {
  background-color: #979797;
}
.hero-section-crew .container-crew .menu-crew .active-crew {
  background-color: #FFFFFF;
}
.hero-section-crew .container-crew .info-crew {
  display: none;
}
.hero-section-crew .container-crew .info-crew .crew {
  display: flex;
  justify-content: space-between;
}
.hero-section-crew .container-crew .info-crew .crew .content h4 {
  font-size: 32px;
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
  color: #909296;
  padding-bottom: 15px;
}
.hero-section-crew .container-crew .info-crew .crew .content h2 {
  font-size: 56px;
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
  padding-bottom: 34px;
}
.hero-section-crew .container-crew .info-crew .crew .content p {
  color: #D0D6F9;
  font-size: 18px;
  text-transform: none;
  line-height: 32px;
  font-family: "Barlow", sans-serif;
  width: 469px;
}
.hero-section-crew .container-crew .info-crew .crew .image {
  margin-top: -125px;
}
@media (max-width: 1270px) {
  .hero-section-crew {
    background-image: url(../img/crew/background-crew-tablet.jpg);
    padding-top: 0;
  }
  .hero-section-crew .container-crew .info h3 {
    font-size: 20px !important;
    letter-spacing: 3.38px !important;
    margin-bottom: 0;
    margin-top: 40px;
  }
  .hero-section-crew .container-crew .menu-crew {
    display: flex;
    -moz-column-gap: 16px;
         column-gap: 16px;
    justify-content: center;
  }
  .hero-section-crew .container-crew .menu-crew button {
    width: 10px;
    height: 10px;
    top: 290px;
  }
  .hero-section-crew .info-crew .crew {
    flex-direction: column !important;
    text-align: center;
    align-items: center;
  }
  .hero-section-crew .info-crew .crew .content h4 {
    font-size: 24px !important;
    padding-top: 60px;
    padding-bottom: 8px !important;
  }
  .hero-section-crew .info-crew .crew .content h2 {
    font-size: 40px !important;
    padding-bottom: 16px !important;
  }
  .hero-section-crew .info-crew .crew .content p {
    font-size: 16px !important;
    line-height: 28px !important;
    width: 609px !important;
  }
  .hero-section-crew .info-crew .crew .image {
    margin-top: 150px !important;
  }
  .hero-section-crew .info-crew .crew .image img {
    width: 100%;
  }
}
@media (max-width: 640px) {
  .hero-section-crew {
    background-image: url(../img/crew/background-crew-mobile.jpg) !important;
    padding-top: 0;
  }
  .hero-section-crew .container-crew .info {
    text-align: center !important;
  }
  .hero-section-crew .container-crew .info h3 {
    font-size: 16px !important;
    letter-spacing: 2.7px !important;
    margin-bottom: 0;
    margin-top: 24px;
  }
  .hero-section-crew .container-crew .menu-crew {
    display: flex;
    -moz-column-gap: 16px;
         column-gap: 16px;
    justify-content: center;
  }
  .hero-section-crew .container-crew .menu-crew button {
    width: 10px;
    height: 10px;
    top: 295px;
  }
  .hero-section-crew .info-crew .crew {
    flex-direction: column-reverse !important;
  }
  .hero-section-crew .info-crew .crew .content {
    margin-bottom: 50px;
  }
  .hero-section-crew .info-crew .crew .content h4 {
    font-size: 16px !important;
    padding-top: 70px;
    padding-bottom: 8px !important;
  }
  .hero-section-crew .info-crew .crew .content h2 {
    font-size: 24px !important;
    padding-bottom: 16px !important;
  }
  .hero-section-crew .info-crew .crew .content p {
    font-size: 15px !important;
    line-height: 25px !important;
    width: 327px !important;
  }
  .hero-section-crew .info-crew .crew .image {
    margin-top: 32px !important;
  }
  .hero-section-crew .info-crew .crew .image img {
    width: 327px !important;
  }
}

.show-tec {
  display: block !important;
}

.hero-section-technology {
  padding-top: 40px;
  background-color: #0b0d17;
  background-image: url(../img/technology/background-technology-desktop.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  align-items: center;
  box-sizing: border-box;
}
.hero-section-technology .container {
  max-width: 100%;
  padding-left: 55px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
.hero-section-technology .container .logo {
  display: flex;
  align-items: center;
}
.hero-section-technology .container .menu {
  background-color: rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(81px);
          backdrop-filter: blur(81px);
  max-width: 100%;
  width: 830px;
  height: 96px;
  display: flex;
  justify-content: center;
  -moz-column-gap: 48px;
       column-gap: 48px;
  align-items: center;
  padding-right: 30px;
  box-sizing: border-box;
}
.hero-section-technology .container .menu .bar {
  position: fixed;
  top: 46px;
  right: 795px;
  width: 473px;
  height: 1px;
  background-color: #484B53;
  z-index: 101;
  box-sizing: border-box;
}
.hero-section-technology .container .menu a {
  color: #FFFFFF;
  font-size: 16px;
  padding-top: 36px;
  padding-bottom: 36px;
  border-bottom: 3px solid transparent;
  letter-spacing: 2.7px;
}
.hero-section-technology .container .menu a span {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
  padding-top: 36px;
  padding-bottom: 36px;
  letter-spacing: 2.7px;
}
.hero-section-technology .container .menu a:hover {
  border-bottom: 3px solid #979797;
}
.hero-section-technology .container .menu .active {
  border-color: #FFFFFF;
}
@media (max-width: 1390px) {
  .hero-section-technology .container .menu {
    width: 763px;
  }
  .hero-section-technology .container .menu .bar {
    width: 400px;
    right: 722px;
  }
}
@media (max-width: 1270px) {
  .hero-section-technology .container {
    padding-left: 39px !important;
  }
  .hero-section-technology .container .logo {
    padding-top: 0;
    margin-left: -14px;
  }
  .hero-section-technology .container .menu {
    width: 450px;
    height: 96px;
    -moz-column-gap: 36px;
         column-gap: 36px;
    padding: 0;
  }
  .hero-section-technology .container .menu a {
    font-size: 14px;
    letter-spacing: 2.36px;
  }
  .hero-section-technology .container .menu a span {
    display: none;
  }
  .hero-section-technology .container .menu .bar {
    display: none;
  }
}
@media (max-width: 640px) {
  .hero-section-technology .container {
    /*bar que for o primeiro filho*/
  }
  .hero-section-technology .container .logo {
    padding-top: 24px;
    margin-left: -14px;
  }
  .hero-section-technology .container .logo img {
    width: 40px;
  }
  .hero-section-technology .container .menu {
    /*opacity: 0;
    pointer-events: none;*/
    transform: translateX(100%);
    background-color: rgba(255, 255, 255, 0.04);
    -webkit-backdrop-filter: blur(81px);
            backdrop-filter: blur(81px);
    position: fixed;
    top: 0;
    right: 0;
    width: 254px;
    height: 100vh;
    transition: 0.3s ease-in-out;
    row-gap: 32px;
    flex-direction: column;
    justify-content: normal;
    padding-top: 118px;
    align-items: normal;
    padding-left: 32px;
    z-index: 100;
    box-sizing: border-box;
  }
  .hero-section-technology .container .menu a {
    font-size: 16px;
    letter-spacing: 2.7px;
    display: block !important;
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box;
    border-bottom: none;
  }
  .hero-section-technology .container .menu a span {
    font-size: 16px;
    margin-right: 10px;
    letter-spacing: 2.7px;
    display: inline-block;
    box-sizing: border-box;
    padding: 0;
  }
  .hero-section-technology .container .menu a:hover {
    border-bottom: none;
  }
  .hero-section-technology .container .menu .active {
    border-color: none;
  }
  .hero-section-technology .container .btn-menu {
    padding-top: 34px;
    padding-right: 26px;
  }
  .hero-section-technology .container .btn-menu .bar-menu {
    width: 24px;
    height: 3px;
    background-color: #D0D6f9;
    margin-bottom: 6px;
    /* ou*/
    /*
    .btn-menu
    display: flex;
    flex-direction: colum;
    row-gap: 3px;*/
    transition: 0.3s;
  }
  .hero-section-technology .container .menu-open {
    /*display: block;*/
    /*opacity: 1;
        pointer-events: all;*/
    transform: translateX(0);
  }
  .hero-section-technology .container .x {
    z-index: 10000;
    /* bar que for o filho de número 2*/
    /*bar que for o último filho*/
  }
  .hero-section-technology .container .x .bar-menu:first-child {
    transform: rotate(45deg) translate(7px, 4px);
  }
  .hero-section-technology .container .x .bar-menu:nth-child(2) {
    opacity: 0;
    transform: translateX(-100px);
  }
  .hero-section-technology .container .x .bar-menu:last-child {
    transform: rotate(-45deg) translate(8px, -6px);
  }
}
.hero-section-technology .container-technology {
  width: 100%;
  max-width: 1110px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  margin-top: 137px;
}
.hero-section-technology .container-technology h3 {
  color: #FFFFFF;
  font-size: 28px;
  letter-spacing: 4.72px;
  font-weight: 400;
  font-style: normal;
}
.hero-section-technology .container-technology h3 span {
  margin-right: 22px;
  color: #484B53;
  letter-spacing: 4.72px;
  font-weight: bold;
}
.hero-section-technology .container-technology .content {
  box-sizing: border-box;
  display: flex;
  padding-top: 1px;
  align-items: center;
}
.hero-section-technology .container-technology .content .menu-tec {
  padding-right: 80px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.hero-section-technology .container-technology .content .menu-tec button {
  background-color: #0b0d17;
  color: #FFFFFF;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #484B53;
}
.hero-section-technology .container-technology .content .menu-tec button:hover {
  border: 1px solid #FFFFFF;
}
.hero-section-technology .container-technology .content .menu-tec .active-tec {
  background-color: #FFFFFF;
  color: #0b0d17;
  border: none;
}
.hero-section-technology .container-technology .content .info-tec {
  display: none;
}
.hero-section-technology .container-technology .content .info-tec .head {
  display: flex;
  align-items: center;
}
.hero-section-technology .container-technology .content .info-tec .head .info h3 {
  color: #D0D6F9;
  font-size: 16px;
  letter-spacing: 4.72px;
  margin-bottom: 11px;
}
.hero-section-technology .container-technology .content .info-tec .head .info h2 {
  font-size: 56px;
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
  padding-bottom: 17px;
}
.hero-section-technology .container-technology .content .info-tec .head .info p {
  color: #D0D6F9;
  font-size: 18px;
  text-transform: none;
  line-height: 32px;
  font-family: "Barlow", sans-serif;
  width: 443px;
}
.hero-section-technology .container-technology .content .info-tec .head .image-1 {
  margin-left: 130px;
  margin-bottom: 100px;
}
@media (max-width: 1270px) {
  .hero-section-technology {
    background-image: url(../img/technology/background-technology-tablet.jpg);
    padding: 0;
  }
  .hero-section-technology .container-technology {
    display: flex;
    margin-top: 40px;
  }
  .hero-section-technology .container-technology h3 {
    font-size: 20px !important;
    letter-spacing: 3.38px !important;
    margin-bottom: 0;
  }
  .hero-section-technology .container-technology .content {
    display: block;
  }
  .hero-section-technology .container-technology .content .menu-tec {
    margin-top: 410px;
    padding: 0 !important;
    flex-direction: revert !important;
    display: flex;
    justify-content: center;
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
  .hero-section-technology .container-technology .content .menu-tec button {
    width: 60px;
    height: 60px;
  }
  .hero-section-technology .container-technology .content .info-tec .head {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .hero-section-technology .container-technology .content .info-tec .head .info {
    margin-bottom: 100px;
  }
  .hero-section-technology .container-technology .content .info-tec .head .info h3 {
    color: #D0D6F9;
    font-size: 16px;
    letter-spacing: 2.7px;
    margin-bottom: 11px;
    margin-top: 44px;
  }
  .hero-section-technology .container-technology .content .info-tec .head .info h2 {
    font-size: 40px;
    padding-bottom: 16px;
  }
  .hero-section-technology .container-technology .content .info-tec .head .info p {
    font-size: 16px;
    line-height: 28px;
    width: 470px;
  }
  .hero-section-technology .container-technology .content .info-tec .head .image-1 {
    margin: 0;
    position: absolute;
    top: 200px;
  }
  .hero-section-technology .container-technology .content .info-tec .head .image-1 img {
    width: 100%;
  }
}
@media (max-width: 640px) {
  .hero-section-technology {
    background-image: url(../img/technology/background-technology-mobile.jpg);
    padding-top: 0;
  }
  .hero-section-technology .container-technology {
    margin-top: 24px;
    text-align: center;
  }
  .hero-section-technology .container-technology h3 {
    font-size: 16px !important;
    letter-spacing: 2.7px !important;
  }
  .hero-section-technology .container-technology .content {
    display: block;
  }
  .hero-section-technology .container-technology .content .menu-tec {
    margin-top: 220px;
  }
  .hero-section-technology .container-technology .content .menu-tec button {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }
  .hero-section-technology .container-technology .content .info-tec .head .info {
    margin-bottom: 50px;
  }
  .hero-section-technology .container-technology .content .info-tec .head .info h3 {
    color: #D0D6F9;
    font-size: 14px;
    letter-spacing: 2.36px;
    margin-bottom: 9px;
    margin-top: 26px;
  }
  .hero-section-technology .container-technology .content .info-tec .head .info h2 {
    font-size: 24px;
    padding-bottom: 16px;
  }
  .hero-section-technology .container-technology .content .info-tec .head .info p {
    font-size: 15px;
    line-height: 25px;
    width: 327px;
  }
  .hero-section-technology .container-technology .content .info-tec .head .image-1 {
    top: 140px;
  }
  .hero-section-technology .container-technology .content .info-tec .head .image-1 img {
    max-width: 100%;
    width: 374px;
  }
}/*# sourceMappingURL=style.css.map */