* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: uppercase;
    
}

body {
    font-family: "Barlow Condensed", sans-serif;
    overflow-x: hidden !important;/*esconde a barra de rolagem horixontal*/
}